SECRET_KEY=weka-key-ndefu-ya-siri
DEBUG=False
DATABASE_URL=postgresql://postgres:PASSWORD@HOST:5432/postgres
ALLOWED_HOSTS=magafu.onrender.com
CSRF_TRUSTED_ORIGINS=https://magafu.onrender.com
ADMIN_URL=admin/
COMPANY_NAME=Magafu Investment
COMPANY_PHONE=
SMS_ENABLED=False
SMS_ON_PAYMENT=True
BEEM_API_KEY=
BEEM_SECRET_KEY=
SMS_SENDER_ID=MAGAFU
LOAN_ONE_STEP=True
